

/* Add Questions */

.QuestionBox{
	border-style: solid;
	margin: 30px 20px 40px 20px;
	padding-bottom: 20px;
	
}

.qForm{	
	padding: 10px 20px;
	font-size: 18px;
	font-weight: bold;
}

#qNum{
	background: #304C50;
	padding: 20px 20px;
	color: white;
}

.QuestionBox table{
	margin-top: 10px;
	margin-bottom: 10px;
}

#choices{
	background: #C9D1C2;
}

#choices td{
	border-bottom: solid;
	border-color: white;
	padding: 8px;
}

#previousNumber, #nextNumber{
	margin-left: 20px;
	font-size: 18px;
}